<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Interview confirmation</h1>
    <p>
      Dear <%= @interview.candidate.first_name %>, we are delighted to confirm that we have scheduled an interview regarding your application for the position of <%= @interview.candidate.position.title %>.<br>
    </p>
    <p>
      <strong>When: </strong><%= "#{@interview.start_time.strftime("%d/%m/%Y, %H:%M")} - #{@interview.end_time.strftime("%H:%M")} #{Time.zone.name}" %>
    </p>
    <p>
      <strong>Interviewer:</strong> <%= @interview.recruiter.full_name %>. This person will call you directly.
    </p>
    <p>Thanks for applying and good luck!</p>
    <p>The Recruitr team</p>
  </body>
</html>